

   .pageContainer {
  display: flex;
  gap: 30px;
  /* padding: 20px; */
}


.leftContent {
  flex: 2;
}

.rightContent {
  flex: 1;
}

.rightContent {
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

.input {
  margin-bottom: 20px;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer {
  width: 100%;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
